/docs
/dp
/geometry

/math
/other
/structure

string/aho-corasick.hpp
string/manacher.hpp
string/rolling-hash.hpp
string/suffix-array.hpp
string/trie.hpp
string/lcp-array.hpp
string/palindromic-tree.hpp

graph/flow/*
graph/mst/*
graph/others/*
graph/shortest-path/*
graph/tree/*

graph/connected-components/bi-connected-components.hpp
graph/connected-components/connected-components.hpp
graph/connected-components/find_bridges.cpp
graph/connected-components/strongly-connected-components.hpp
graph/connected-components/two-edge-connected-components.hpp
graph/connected-components/incremental-connected-components.hpp
graph/connected-components/three-edge-connected-components.hpp
graph/connected-components/incremental-bridge-connectivity.hpp

# Ignore everything in the verify directory
verify/*

# But do not ignore aoj-articulation_points.test.cpp
!test/verify/aoj-articulation_points.test.cpp
!test/verify/yosupo-z-algorithm.test.cpp
